#gallery_container img{
    width:30%;
    transition: 0.2s;
}

#gallery_container header{
    padding:2% auto;
    text-align: center;
    color:white;
}
#gallery_container header p{
    width:80%;
    margin:auto;
    font-size: small;
    margin:5% auto;
}
#gallery_container main{
    width: 80%;
    margin:auto;
}